body {
  margin: 0;
  padding: 0;
  background-color: #2e1c28;
}
h2 {
  margin: 0;
}
ul {
  list-style: none;
}
/*landing-page*/
#landing-page {
  background-image: url("images/cupcakes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.title-background {
  background: #2e1c28;
  width: fit-content;
  margin: auto;
  padding: 10px;
}
.title-background2 {
  background: #fffbe3;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

.title {
  text-align: center;
  color: #fffbe3;
  font-size: 2em;
}
.title2 {
  text-align: center;
  color: #2e1c28;
  font-size: 2em;
}

/*nav-slider*/
.nav-slider {
  padding: 10px;
  cursor: pointer;
  position: sticky;
  top: 0;
}
.line {
  background: #2e1c28;
  height: 3px;
  margin: 5px;
  width: 30px;
}
.line2 {
  background: #fffbe3;
  height: 3px;
  margin: 5px;
  width: 3px;
  border-radius: 5px;
}

.line:nth-child(1) {
  margin-top: 0;
}
/*nav-slider-section*/
.nav-slider-section {
  background: rgba(46, 28, 40, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
}

.close-nav-slider {
  border: none;
  outline: none;
  float: right;
  background: transparent;
  color: #fffbe3;
  font-size: 1.5em;
  padding: 15px;
  cursor: pointer;
}

.nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-links-container li {
  text-align: center;
  padding: 10px;
}

.nav-links {
  text-decoration: none;
  color: #fffbe3;
  font-size: 1.5em;
}
.openNav {
  animation: openNav 0.5s forwards;
}

.closeNav {
  animation: closeNav 0.5s forwards;
}
@keyframes openNav {
  100% {
    transform: translateX(0%);
  }
}

@keyframes closeNav {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/*Menu*/
#menu,
#order {
  background: #2e1c28;
}
.menu-title {
  color: #fffbe3;
  text-align: center;
  padding: 25px;
  font-size: 1.5em;
}

p {
  font-size: 1.1em;
  color: #fffbe3;
}

.menu-price {
  float: right;
}

/*Restaurant information*/
#restaurant-info {
  background: #2e1c28;
}
.restaurant-info-title {
  color: #fffbe3;
  text-align: center;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr;
}

.address-content,
.business-hours,
.contact-content {
  padding: 10px;
}

.address,
.hours,
.phone {
  font-size: 1em !important;
  text-align: center;
}

.email {
  margin-bottom: 0;
  font-size: 1em !important;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .info-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .address-content,
  .business-hours {
    border-right: 1px solid #fffbe3;
    padding: 30px;
  }
  .contact-content {
    padding: 30px;
  }
}
